.container {
    @apply pt-24 px-5 w-full;
}
.noData {
    text-align: center;
    font-size: large;
    color: #8c8c8c;
}
.tableContainer {
    height: calc(100vh - 247px);
}
.withTableAction{
    width: 100px;
}
.thAction{
    padding: 5px 0;
}
.breadcrumb{
    @apply pt-2 pb-5
}