.filter {
    @apply mx-auto w-full px-10 pr-16 sm:w-1/2 sm:p-0;
}
.fixedFilter{
	@apply -top-0 right-0;
	position: fixed !important;
	width: 45% !important;
	z-index: 999;
	@media (min-width: 640px) {
		right: 13%;
		width: 30%;
	}
}