.image {
    width: 100%;
    min-height: 127px;
    max-height: 440px;
    height: 50vw;
    @apply relative my-5;
    border-radius: 12px;
    img {
        border-radius: 12px;
    }
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.sapo {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}
.flexRow {
    @apply flex flex-row justify-between py-3;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
}
.textBlack {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #292929;
}
.content {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}
.colorButton {
    color: #09121f;
}
.back {
    @apply flex items-center;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #222222;
    padding-top: 12px;
}
.titleHeader {
    @apply w-full truncate;
}
