.tableContainer {
    height: calc(100vh - 205px);
}
.containerGuide {
    @apply flex flex-col w-full pt-7 gap-5 justify-between;
    height: calc(100vh - 100px);
}
.editor {
    height: calc(100vh - 260px);
    padding-bottom: 50px;
}
.field {
    @apply w-1/2;
}
.form {
    @apply flex flex-col w-full gap-5;
}
.displayField {
    @apply flex items-start justify-between;
}
// preview
.containerPreview {
    @apply flex flex-col pt-16 gap-5 justify-start w-full relative;
    line-height: 1.5;
    img {
        max-width: 93vw;
        margin: auto;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
    .title {
        font-size: 28px;
    }
}

.unPreview {
    @apply w-full flex justify-end fixed pr-10 lg:pr-0;
    max-width: 834px;
    top: 95px;
}
.titleDialog {
    font-size: 15px;
}
.buttonUnPreview {
    background: #fff;
}
.breadcrumb{
    @apply pt-2
}