.container {
    @apply shadow drop-shadow-lg p-3;
    box-shadow: 0px -4px 20px 3px rgb(0 0 0 / 3%);
    background: #fff;
}
.divTitle {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    color: #292929;
    @apply flex items-center gap-3;
}
.divSub {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
}
.containerChart {
    @apply flex flex-col pt-1 relative justify-between;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: #292929;
    line-height: 1.3;
    height: 250px;
}
.divChart {
    @apply w-full absolute;
    min-width: 300px;
    height: 600px;
    top: -46%;
}
.textColorOrange {
    color: #f08041;
}
.bottomChart {
    @apply flex flex-row justify-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
}
.divBox {
    @apply shadow drop-shadow-lg p-3 flex justify-between py-4 px-5;
    box-shadow: 0px -4px 20px 3px rgb(0 0 0 / 3%);
}
.divFlex {
    @apply flex;
}
