.header {
    @apply bg-white w-full flex h-20 items-center justify-between px-5;
    color: #686868;
    font-weight: 700;
}
.headerWithShadow {
    @apply bg-white w-full flex h-20 items-center justify-between fixed top-0 left-0 px-5;
    color: #686868;
    font-weight: 700;
    box-shadow: 0px -4px 20px 3px rgb(0 0 0 / 10%);
    z-index: 90;
}
.logo {
    @apply flex gap-3 items-center;
}
.back {
    @apply flex items-center;
    color: #222;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    span {
        @apply truncate;
        width: 82vw;
    }
}
.colorButton {
    color: #222;
}
.contentHeader {
    @apply w-full max-w-6xl flex justify-between items-center m-auto;
}
