.container {
    @apply px-5 pb-20;
}
.title {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: #292929;
}
.colName {
    @apply flex justify-start  flex-col;
}
.name {
    font-weight: 800;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #292929;
}
.subName {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #888888;
}
.colNumber {
    @apply flex justify-end  flex-col;
}
.numberTop {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #08ca98;
}
.numberBottom {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #292929;
}
.numberLabel {
    background: #00b876;
    border-radius: 4px;
    padding: 0 4px;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
}
.colChartTable {
    @apply relative;
}
.chard {
    width: 66.78px;
    height: 100%;
}
.positionChart {
    @apply cursor-pointer;
    position: absolute;
    height: 100px;
    top: -48px;
}
