.title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.flexRow {
    @apply flex flex-row justify-between py-3;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
}
.textBlack {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #292929;
}
.content {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}
.firstArticle {
    @apply w-full px-5 flex flex-col cursor-pointer md:flex-row md:gap-5;
    .image {
        width: 100%;
        min-height: 127px;
        height: 50vw;
        @apply relative my-5;
        border-radius: 12px;
        img {
            border-radius: 12px;
        }
    }
    @media (min-width: 768px) {
        .image {
            width: 45vw;
            height: 300px !important;
            min-width: 476px;
            @apply relative my-4;
        }
        .titleFirst {
            @apply my-5;
            width: 50%;
        }
    }
}
