@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
html {
    -webkit-tap-highlight-color: transparent; /* transparent with keyword */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* transparent with rgba */
    -webkit-tap-highlight-color: hsla(0, 0, 0, 0); /* transparent with hsla */
    -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
    -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
}

.container-login {
    @apply flex justify-center;
    width: 100vw;
    height: 100vh;
    background: url(/backgroundBottom.png);
    background-repeat: no-repeat;
    background-position: 42% 100%;
    background-size: 100vw 436px;
}
.text-login {
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}
.textField-login {
    width: 327px;
    height: 48px;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}
.divBoxIcon {
    border: #dddcdc 1px solid;
    border-radius: 12px;
    padding: 12px 20px;
}
.textSecond {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #8c8c8c;
}
.container {
    min-height: calc(100vh - 104px);
}
.pagePaddingTop {
    @apply w-full;
    padding-top: 60px;
}
.pageNotNav {
    min-height: calc(100vh);
}
#lockIcon {
    margin-right: 0 !important;
}
.textGray {
    color: #8c8c8c;
}
.textGreen {
    color: #00b876;
}
.textRed {
    color: #f04164;
}
.textSecondary {
    color: #a349a4;
}
.textOrange {
    color: #e2a300;
}
.textPink {
    color: #f190f2;
}
.textPrimary {
    color: #338cf7;
}

/* 
* Coming Soon
*/
.containerComingSoon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.containerCommingSoon span {
    text-transform: uppercase;
    display: block;
}

.textComingSoon1 {
    color: #262626;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 100px;
    background: #ffffff;
    position: relative;
    animation: text 3s 1;
}

.textComingSoon2 {
    font-size: 15px;
    font-weight: 300;
    color: #f0932b;
}

@keyframes text {
    0% {
        color: #262626;
        padding-bottom: 100px;
        letter-spacing: 12px;
    }
    1% {
        letter-spacing: 12px;
    }

    50% {
        letter-spacing: 15px;
        padding-bottom: -60px;
    }
    85% {
        letter-spacing: 8px;
        padding-bottom: -60px;
    }
}

.textLink {
    text-decoration: none;
    color: #32a897;
}
.textLink:hover {
    text-decoration: underline;
    color: #32a897;
}
/* 
* /Coming Soon
*/
