@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    min-height: calc(100vh - 104px);
}
.pagePaddingTop {
    @apply w-full;
    padding-top: 60px;
}
.pageNotNav {
    min-height: calc(100vh);
}
#lockIcon {
    margin-right: 0 !important;
}
