@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
html {
    -webkit-tap-highlight-color: transparent; /* transparent with keyword */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* transparent with rgba */
    -webkit-tap-highlight-color: hsla(0, 0, 0, 0); /* transparent with hsla */
    -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
    -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
}

.container-login {
    @apply flex justify-center;
    width: 100vw;
    height: 100vh;
    background: url(/backgroundBottom.png);
    background-repeat: no-repeat;
    background-position: 42% 100%;
    background-size: 100vw 436px;
}
.text-login {
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}
.textField-login {
    width: 327px;
    height: 48px;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}
.divBoxIcon {
    border: #dddcdc 1px solid;
    border-radius: 12px;
    padding: 12px 20px;
}
.textSecond {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #8c8c8c;
}
.container {
    min-height: calc(100vh - 104px);
}
.pagePaddingTop {
    @apply w-full;
    padding-top: 60px;
}
.pageNotNav {
    min-height: calc(100vh);
}
#lockIcon {
    margin-right: 0 !important;
}
.textGray {
    color: #8c8c8c;
}
.textGreen {
    color: #00b876;
}
.textRed {
    color: #f04164;
}
.textSecondary {
    color: #a349a4;
}
.textOrange {
    color: #e2a300;
}
.textPink {
    color: #f190f2;
}
.textPrimary {
    color: #338cf7;
}

/* 
* Coming Soon
*/
.containerComingSoon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.containerCommingSoon span {
    text-transform: uppercase;
    display: block;
}

.textComingSoon1 {
    color: #262626;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 100px;
    background: #ffffff;
    position: relative;
    animation: text 3s 1;
}

.textComingSoon2 {
    font-size: 15px;
    font-weight: 300;
    color: #f0932b;
}

@keyframes text {
    0% {
        color: #262626;
        padding-bottom: 100px;
        letter-spacing: 12px;
    }
    1% {
        letter-spacing: 12px;
    }

    50% {
        letter-spacing: 15px;
        padding-bottom: -60px;
    }
    85% {
        letter-spacing: 8px;
        padding-bottom: -60px;
    }
}

.textLink {
    text-decoration: none;
    color: #32a897;
}
.textLink:hover {
    text-decoration: underline;
    color: #32a897;
}
/* 
* /Coming Soon
*/
.textComingSoon {
    @apply w-full pb-20 text-center p-7 text-2xl;
    color: #8c8c8c;
}

.ql-container {
    font-family: "Manrope", sans-serif !important;
}
.ql-video {
    width: 100%;
}
.ql-editor blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding-left: 16px !important;
}

.ql-editor.ql-toolbar:after,
.ql-editor .ql-toolbar:after {
    clear: both;
    content: "";
    display: table;
}
.ql-editor.ql-toolbar button,
.ql-editor .ql-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
}
.ql-editor.ql-toolbar button svg,
.ql-editor .ql-toolbar button svg {
    float: left;
    height: 100%;
}
.ql-editor.ql-toolbar button:active:hover,
.ql-editor .ql-toolbar button:active:hover {
    outline: none;
}
.ql-editor.ql-toolbar input.ql-image[type="file"],
.ql-editor .ql-toolbar input.ql-image[type="file"] {
    display: none;
}
.ql-editor.ql-toolbar button:hover,
.ql-editor .ql-toolbar button:hover,
.ql-editor.ql-toolbar button:focus,
.ql-editor .ql-toolbar button:focus,
.ql-editor.ql-toolbar button.ql-active,
.ql-editor .ql-toolbar button.ql-active,
.ql-editor.ql-toolbar .ql-picker-label:hover,
.ql-editor .ql-toolbar .ql-picker-label:hover,
.ql-editor.ql-toolbar .ql-picker-label.ql-active,
.ql-editor .ql-toolbar .ql-picker-label.ql-active,
.ql-editor.ql-toolbar .ql-picker-item:hover,
.ql-editor .ql-toolbar .ql-picker-item:hover,
.ql-editor.ql-toolbar .ql-picker-item.ql-selected,
.ql-editor .ql-toolbar .ql-picker-item.ql-selected {
    color: #06c;
}
.ql-editor.ql-toolbar button:hover .ql-fill,
.ql-editor .ql-toolbar button:hover .ql-fill,
.ql-editor.ql-toolbar button:focus .ql-fill,
.ql-editor .ql-toolbar button:focus .ql-fill,
.ql-editor.ql-toolbar button.ql-active .ql-fill,
.ql-editor .ql-toolbar button.ql-active .ql-fill,
.ql-editor.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-editor .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-editor.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-editor .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-editor.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-editor .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-editor.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-editor .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-editor.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-editor .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-editor.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-editor .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-editor.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-editor .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-editor.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-editor .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-editor.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-editor .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-editor.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-editor .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-editor.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-editor .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #06c;
}
.ql-editor.ql-toolbar button:hover .ql-stroke,
.ql-editor .ql-toolbar button:hover .ql-stroke,
.ql-editor.ql-toolbar button:focus .ql-stroke,
.ql-editor .ql-toolbar button:focus .ql-stroke,
.ql-editor.ql-toolbar button.ql-active .ql-stroke,
.ql-editor .ql-toolbar button.ql-active .ql-stroke,
.ql-editor.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-editor .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-editor.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-editor .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-editor.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-editor .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-editor.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-editor .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-editor.ql-toolbar button:hover .ql-stroke-miter,
.ql-editor .ql-toolbar button:hover .ql-stroke-miter,
.ql-editor.ql-toolbar button:focus .ql-stroke-miter,
.ql-editor .ql-toolbar button:focus .ql-stroke-miter,
.ql-editor.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-editor .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-editor.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-editor .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-editor.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-editor .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-editor.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-editor .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-editor.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-editor .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #06c;
}
@media (pointer: coarse) {
    .ql-editor.ql-toolbar button:hover:not(.ql-active),
    .ql-editor .ql-toolbar button:hover:not(.ql-active) {
        color: #444;
    }
    .ql-editor.ql-toolbar button:hover:not(.ql-active) .ql-fill,
    .ql-editor .ql-toolbar button:hover:not(.ql-active) .ql-fill,
    .ql-editor.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
    .ql-editor .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
        fill: #444;
    }
    .ql-editor.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
    .ql-editor .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
    .ql-editor.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
    .ql-editor .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
        stroke: #444;
    }
}
.ql-editor {
    box-sizing: border-box;
}
.ql-editor * {
    box-sizing: border-box;
}
.ql-editor .ql-hidden {
    display: none;
}
.ql-editor .ql-out-bottom,
.ql-editor .ql-out-top {
    visibility: hidden;
}
.ql-editor .ql-tooltip {
    position: absolute;
    transform: translateY(10px);
}
.ql-editor .ql-tooltip a {
    cursor: pointer;
    text-decoration: none;
}
.ql-editor .ql-tooltip.ql-flip {
    transform: translateY(-10px);
}
.ql-editor .ql-formats {
    display: inline-block;
    vertical-align: middle;
}
.ql-editor .ql-formats:after {
    clear: both;
    content: "";
    display: table;
}
.ql-editor .ql-stroke {
    fill: none;
    stroke: #444;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}
.ql-editor .ql-stroke-miter {
    fill: none;
    stroke: #444;
    stroke-miterlimit: 10;
    stroke-width: 2;
}
.ql-editor .ql-fill,
.ql-editor .ql-stroke.ql-fill {
    fill: #444;
}
.ql-editor .ql-empty {
    fill: none;
}
.ql-editor .ql-even {
    fill-rule: evenodd;
}
.ql-editor .ql-thin,
.ql-editor .ql-stroke.ql-thin {
    stroke-width: 1;
}
.ql-editor .ql-transparent {
    opacity: 0.4;
}
.ql-editor .ql-direction svg:last-child {
    display: none;
}
.ql-editor .ql-direction.ql-active svg:last-child {
    display: inline;
}
.ql-editor .ql-direction.ql-active svg:first-child {
    display: none;
}
.ql-editor h1 {
    font-size: 2em;
}
.ql-editor h2 {
    font-size: 1.5em;
}
.ql-editor h3 {
    font-size: 1.17em;
}
.ql-editor h4 {
    font-size: 1em;
}
.ql-editor h5 {
    font-size: 0.83em;
}
.ql-editor h6 {
    font-size: 0.67em;
}
.ql-editor a {
    text-decoration: underline;
}
.ql-editor blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}
.ql-editor code,
.ql-editor pre {
    background-color: #f0f0f0;
    border-radius: 3px;
}
.ql-editor pre {
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
}
.ql-editor code {
    font-size: 85%;
    padding: 2px 4px;
}
.ql-editor pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}
.ql-editor img {
    max-width: 100%;
}
.ql-editor .ql-picker {
    color: #444;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    position: relative;
    vertical-align: middle;
}
.ql-editor .ql-picker-label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 2px;
    position: relative;
    width: 100%;
}
.ql-editor .ql-picker-label::before {
    display: inline-block;
    line-height: 22px;
}
.ql-editor .ql-picker-options {
    background-color: #fff;
    display: none;
    min-width: 100%;
    padding: 4px 8px;
    position: absolute;
    white-space: nowrap;
}
.ql-editor .ql-picker-options .ql-picker-item {
    cursor: pointer;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}
.ql-editor .ql-picker.ql-expanded .ql-picker-label {
    color: #ccc;
    z-index: 2;
}
.ql-editor .ql-picker.ql-expanded .ql-picker-label .ql-fill {
    fill: #ccc;
}
.ql-editor .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
    stroke: #ccc;
}
.ql-editor .ql-picker.ql-expanded .ql-picker-options {
    display: block;
    margin-top: -1px;
    top: 100%;
    z-index: 1;
}
.ql-editor .ql-color-picker,
.ql-editor .ql-icon-picker {
    width: 28px;
}
.ql-editor .ql-color-picker .ql-picker-label,
.ql-editor .ql-icon-picker .ql-picker-label {
    padding: 2px 4px;
}
.ql-editor .ql-color-picker .ql-picker-label svg,
.ql-editor .ql-icon-picker .ql-picker-label svg {
    right: 4px;
}
.ql-editor .ql-icon-picker .ql-picker-options {
    padding: 4px 0px;
}
.ql-editor .ql-icon-picker .ql-picker-item {
    height: 24px;
    width: 24px;
    padding: 2px 4px;
}
.ql-editor .ql-color-picker .ql-picker-options {
    padding: 3px 5px;
    width: 152px;
}
.ql-editor .ql-color-picker .ql-picker-item {
    border: 1px solid transparent;
    float: left;
    height: 16px;
    margin: 2px;
    padding: 0px;
    width: 16px;
}
.ql-editor .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    position: absolute;
    margin-top: -9px;
    right: 0;
    top: 50%;
    width: 18px;
}
.ql-editor
    .ql-picker.ql-header
    .ql-picker-label[data-label]:not([data-label=""])::before,
.ql-editor
    .ql-picker.ql-font
    .ql-picker-label[data-label]:not([data-label=""])::before,
.ql-editor
    .ql-picker.ql-size
    .ql-picker-label[data-label]:not([data-label=""])::before,
.ql-editor
    .ql-picker.ql-header
    .ql-picker-item[data-label]:not([data-label=""])::before,
.ql-editor
    .ql-picker.ql-font
    .ql-picker-item[data-label]:not([data-label=""])::before,
.ql-editor
    .ql-picker.ql-size
    .ql-picker-item[data-label]:not([data-label=""])::before {
    content: attr(data-label);
}
.ql-editor .ql-picker.ql-header {
    width: 98px;
}
.ql-editor .ql-picker.ql-header .ql-picker-label::before,
.ql-editor .ql-picker.ql-header .ql-picker-item::before {
    content: "Normal";
}
.ql-editor .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: "Heading 1";
}
.ql-editor .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: "Heading 2";
}
.ql-editor .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    content: "Heading 3";
}
.ql-editor .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
    content: "Heading 4";
}
.ql-editor .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
    content: "Heading 5";
}
.ql-editor .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
    content: "Heading 6";
}
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    font-size: 2em;
}
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    font-size: 1.5em;
}
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    font-size: 1.17em;
}
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
    font-size: 1em;
}
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
    font-size: 0.83em;
}
.ql-editor .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
    font-size: 0.67em;
}
.ql-editor .ql-picker.ql-font {
    width: 108px;
}
.ql-editor .ql-picker.ql-font .ql-picker-label::before,
.ql-editor .ql-picker.ql-font .ql-picker-item::before {
    content: "Sans Serif";
}
.ql-editor .ql-picker.ql-font .ql-picker-label[data-value="serif"]::before,
.ql-editor .ql-picker.ql-font .ql-picker-item[data-value="serif"]::before {
    content: "Serif";
}
.ql-editor .ql-picker.ql-font .ql-picker-label[data-value="monospace"]::before,
.ql-editor .ql-picker.ql-font .ql-picker-item[data-value="monospace"]::before {
    content: "Monospace";
}
.ql-editor .ql-picker.ql-font .ql-picker-item[data-value="serif"]::before {
    font-family: Georgia, Times New Roman, serif;
}
.ql-editor .ql-picker.ql-font .ql-picker-item[data-value="monospace"]::before {
    font-family: Monaco, Courier New, monospace;
}
.ql-editor .ql-picker.ql-size {
    width: 98px;
}
.ql-editor .ql-picker.ql-size .ql-picker-label::before,
.ql-editor .ql-picker.ql-size .ql-picker-item::before {
    content: "Normal";
}
.ql-editor .ql-picker.ql-size .ql-picker-label[data-value="small"]::before,
.ql-editor .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
    content: "Small";
}
.ql-editor .ql-picker.ql-size .ql-picker-label[data-value="large"]::before,
.ql-editor .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
    content: "Large";
}
.ql-editor .ql-picker.ql-size .ql-picker-label[data-value="huge"]::before,
.ql-editor .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
    content: "Huge";
}
.ql-editor .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
    font-size: 10px;
}
.ql-editor .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
    font-size: 18px;
}
.ql-editor .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
    font-size: 32px;
}
.ql-editor .ql-color-picker.ql-background .ql-picker-item {
    background-color: #fff;
}
.ql-editor .ql-color-picker.ql-color .ql-picker-item {
    background-color: #000;
}
.ql-toolbar.ql-editor {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 8px;
}
.ql-toolbar.ql-editor .ql-formats {
    margin-right: 15px;
}
.ql-toolbar.ql-editor .ql-picker-label {
    border: 1px solid transparent;
}
.ql-toolbar.ql-editor .ql-picker-options {
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
}
.ql-toolbar.ql-editor .ql-picker.ql-expanded .ql-picker-label {
    border-color: #ccc;
}
.ql-toolbar.ql-editor .ql-picker.ql-expanded .ql-picker-options {
    border-color: #ccc;
}
.ql-toolbar.ql-editor .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-editor .ql-color-picker .ql-picker-item:hover {
    border-color: #000;
}
.ql-toolbar.ql-editor + .ql-container.ql-editor {
    border-top: 0px;
}
.ql-editor .ql-tooltip {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ddd;
    color: #444;
    padding: 5px 12px;
    white-space: nowrap;
}
.ql-editor .ql-tooltip::before {
    content: "Visit URL:";
    line-height: 26px;
    margin-right: 8px;
}
.ql-editor .ql-tooltip input[type="text"] {
    display: none;
    border: 1px solid #ccc;
    font-size: 13px;
    height: 26px;
    margin: 0px;
    padding: 3px 5px;
    width: 170px;
}
.ql-editor .ql-tooltip a.ql-preview {
    display: inline-block;
    max-width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.ql-editor .ql-tooltip a.ql-action::after {
    border-right: 1px solid #ccc;
    content: "Edit";
    margin-left: 16px;
    padding-right: 8px;
}
.ql-editor .ql-tooltip a.ql-remove::before {
    content: "Remove";
    margin-left: 8px;
}
.ql-editor .ql-tooltip a {
    line-height: 26px;
}
.ql-editor .ql-tooltip.ql-editing a.ql-preview,
.ql-editor .ql-tooltip.ql-editing a.ql-remove {
    display: none;
}
.ql-editor .ql-tooltip.ql-editing input[type="text"] {
    display: inline-block;
}
.ql-editor .ql-tooltip.ql-editing a.ql-action::after {
    border-right: 0px;
    content: "Save";
    padding-right: 0px;
}
.ql-editor .ql-tooltip[data-mode="link"]::before {
    content: "Enter link:";
}
.ql-editor .ql-tooltip[data-mode="formula"]::before {
    content: "Enter formula:";
}
.ql-editor .ql-tooltip[data-mode="video"]::before {
    content: "Enter video:";
}
.ql-editor a {
    color: #06c;
}
