.containerPreview {
    @apply flex flex-col gap-5 justify-start w-full relative;
    line-height: 1.5;
    img {
        max-width: 93vw;
        margin: auto;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
    .title {
        font-size: 28px;
    }
}
